@media screen and (max-width: 1100px) {
.open {
    width: 40px;
    height: 40px;
    
}
.header_phone {
    
    font-size: 18px;
    
}

.header_phoneblock {
    text-align: center;
}


h1.header-description-title {
    font-size: 36px;
   
}
    
.header-content p {
    font-size: 26px;
    
}


.page_icons {
   font-size: 32px;
    
}

img.header_logo {
   
    width: 65px;
   
}
h2.section_titlewhite {
    font-size: 22px;
    line-height: 26px;   
    margin-bottom: 20px;
    margin-top: 15px;
   
}
#steps {
    padding: 70px 0 80px;
}
.section_textwhite {
    font-size: 18px;
    line-height: 24px;
    margin-top: 12px;
    margin-bottom: 24px;
    
}
img.section_image,
img.booklet {
    display: block;
    max-width: 360px;
    padding: 15px;
    margin:auto;
}

div.model, div .model_fixed {
    text-align: left;
    font-size: 18px;
    
}
.product_card {
   
    height: 189px;
}
.product_card img {
    width: 180px;   
    
}
button.buy_btn,
button.more_btn {
    padding: 8px 12px;
    font: 16px Open Sans Regular;
    }
    .productor {
    font-family: "Open Sans Bold";
    font-size: 15px;
}
.page-form .form-title {
    font: 20px Open Sans SemiBold;
    
    line-height: 34px;
}
}



@media screen and (max-width: 1040px) {
a.header_phone {
    font-size: 16px;

}
}


@media screen and (max-width: 991px) {
a.header_phone {
    font-size: 16px;
    
    margin-bottom: 5px;
    line-height: 16px;
}
a.second_phone {
    display: block;
    padding-left: 35px;
}

#img_logo
 {
    display: block;
    margin:auto;
}

div.social_icons {
    width: 100px;
    margin:auto;
    margin-bottom: 20px;
}


p.social {
   text-align: center;
}

.product_item {
    
    min-height: auto;
}


.product_item.long {
    min-height: auto;
}

div.buttons_group {
  position:relative;
  padding-bottom: 10px;
  
}

div.color-choose {
    display: block;
    min-height: auto;
   
}
p.productor {
    
    font-size: 19px;
}

.product_card img {
    width: 220px;
}

.header_phoneblock {
   /* max-width: 40%;*/
    margin-right: 0;
    display: inline-block;

}

.sub-menu {
   background-color: rgb(38, 84, 133);
   opacity: 1;
   
}

.open span:nth-child(3) {
    margin-top: 40px;
    margin-bottom: 20px;
}
span.icon0:before {
    
   /* visibility: hidden;*/
   }

   #steps li.steps_description {
     height: auto;
     width: 33%;
     min-height: 100px;
   
   
}
#steps {
    padding: 30px 0 30px;
}
}


@media screen and (max-width: 768px) {
h1.header-description-title {
    font-size: 28px;
    letter-spacing: 1px;
    margin-top: 30px;
   
}
h2.section_titlewhite {
    font-size: 20px;
    line-height: 24px;
    
}

a.callback_btn, button.callback_btn {
    color: #fff;  
    
    padding: 8px 18px;   
    
    margin-top: 12px;
    margin-bottom: 15px;
}



.section_textwhitetitle2 {
    font-size: 17px;
    line-height: 24px;
    
    text-align: center;
   
}


.site-section {
    
    padding-top: 20px;
    padding-bottom: 20px;
    
}
    
.header-content p {
    font-size: 20px;
    
}
img.section_image,
img.booklet {
    display: block;
    max-height: 360px;
    padding: 10px;
    margin:auto;
}
.footer__sections {
    font-size: 17px;
    margin-bottom: 18px;
    margin-top: 20px;
}
#about_company p.section_textwhite {
    font-size: 16px;
    line-height: 20px;    
    margin-top: 18px;
    margin-bottom: 18px;
   
}
.sub-menu li a {
    color: #fff;
    font-family: "Open Sans Bold";
    font-size: 15px;    
    line-height: 36px;
    
}
#bonus p.section_textwhite, #advantages p.section_textwhite, p.section_textwhitetitle, #guarantee p.section_textwhite {
    text-align: center;
    font-size: 17px;
}

.order_today {
    position: relative;
   
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.page-form {
    padding: 20px 0 20px;
}

.certificate_swiper {
    padding-top: 20px;
    padding-bottom: 20px;
}
.split_partners .title_info {
    font-weight: 400;
    
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    
    margin-bottom: 20px;
}
}


@media screen and (max-width: 630px) {
p.main_activity {
    display: none;
}

a.header_phone {
    text-align: center;
}

.page_icons {
    font-size: 28px;
}
img.section_image,
img.booklet {
    display: block;
    max-height: 280px;
    padding: 10px;
    margin:auto;
    float: none;
}
#steps li.steps_description {
  width: 75%;
}
}


@media screen and (max-width: 450px) {


.page_icons {
    font-size: 22px;
}

h1.header-description-title {
    font-size: 20px;
    
   
}
h2.section_titlewhite {
    font-size: 16px;
    line-height: 20px;
    
}


.section_textwhitetitle2 {
    font-size: 16px;
    line-height: 20px;
    
    text-align: center;
   
}

    
.header-content p {
    font-size: 16px;
    
}
img.section_image,
img.booklet {
    display: block;
    max-height: 220px;
    
}
.footer__sections {
    font-size: 15px;
    
}


#bonus p.section_textwhite, #advantages p.section_textwhite, p.section_textwhitetitle, #guarantee p.section_textwhite {
    text-align: center;
    font-size: 17px;
}
#img_logo {
    max-width: 55px;
}

ul.footer__menu li a, .footer__contactsText {
    
    font-size: 14px;
   
}
.open {
    width: 30px;
    height: 30px;
}
}

.container{
    min-width: 400px!important;

}